body {
  background-color: honeydew;
}

#logo {
  display: block;
  margin-top: -60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  height: 200px;
  width: 50%;
}

.list-navigation {
  margin-top: -60px;
  list-style-type: none;
  text-align: center;
  margin-bottom: 20px;
}

li {
  display: inline;
  margin-right: 100px;
}

li:last-child {
  margin-right: 0px;
}

a {
  color: black;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}

a:hover {
  color: rgb(220, 33, 71);
  font-size: 20px;
}

.section-about {
  height: 640px;
  background-image: url(../img/87e5d0bce435f90af95d5d7b5954c0e0.jpg);
  background-position: center;
  position: relative;
  margin-bottom: 20px;
}

.section-about__block {
  width: 300px;
  height: 190px;
  background: linear-gradient(90deg, #d3cce3 0%, #e9e4f0 100%);
  position: absolute;
  top: 54%;
  left: 50%;
  text-align: center;
  padding-top: 15px;
}

.section-about__block-title {
  font-size: 15px;
  margin: 0;
  margin-bottom: 9px;
  text-align: center;
}

.section-about__block-paragraph {
  font-size: 20px;
  margin: 0;
}

.section-description__icons-box {
  text-align: center;
  margin-bottom: 20px;
}

#icon1 {
  margin-right: 76px;
}

#icon2 {
  margin-right: 0;
}

.section-description__text-box {
  margin-bottom: 50px;
}

.section-description__title-in-box {
  font-size: 60px;
  margin: 0;
  text-align: center;
}

.section-map {
  margin-bottom: 20px;
}

.section-description__text-in-box {
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  width: 1000px;
}

.section-map__title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 36px;
}

iframe {
  display: block;
  margin: 0 auto;
}

.line {
  border-top: 1px solid rgb(232, 61, 61);
  width: 1024px;
  margin: 0 auto;
  margin-bottom: 20px;
}

footer {
  height: 80px;
}

.list-navigation__footer {
  list-style-type: none;
  text-align: center;
  margin-bottom: 20px;
}
